<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardWriteCon</servlet-name>
  	<display-name>BoardWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.BoardWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardListCon</servlet-name>
  	<display-name>BoardListCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.BoardListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardCountCon</servlet-name>
  	<display-name>BoardCountCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.BoardCountCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>memberUpdateCon</servlet-name>
  	<display-name>memberUpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.memberUpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>YoungPyoWriteCon</servlet-name>
  	<display-name>YoungPyoWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.YoungPyoWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnbiWriteCon</servlet-name>
  	<display-name>UnbiWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.UnbiWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceWriteCon</servlet-name>
  	<display-name>SourceWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.SourceWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeungHwanCon</servlet-name>
  	<display-name>SeungHwanCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.SeungHwanCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuestionWriteCon</servlet-name>
  	<display-name>QuestionWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.QuestionWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JungHyungWriteCon</servlet-name>
  	<display-name>JungHyungWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.JungHyungWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InformationWriteCon</servlet-name>
  	<display-name>InformationWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.InformationWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HaedoWtiteCon</servlet-name>
  	<display-name>HaedoWtiteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.HaedoWtiteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FreeWriteCon</servlet-name>
  	<display-name>FreeWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.FreeWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadCon</servlet-name>
  	<display-name>DownloadCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.DownloadCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DongwonWriteCon</servlet-name>
  	<display-name>DongwonWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.DongwonWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnonymousWriteCon</servlet-name>
  	<display-name>AnonymousWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smart.controller.AnonymousWriteCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardWriteCon</servlet-name>
  	<url-pattern>/BoardWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardListCon</servlet-name>
  	<url-pattern>/BoardListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardCountCon</servlet-name>
  	<url-pattern>/BoardCountCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>memberUpdateCon</servlet-name>
  	<url-pattern>/memberUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>YoungPyoWriteCon</servlet-name>
  	<url-pattern>/YoungPyoWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnbiWriteCon</servlet-name>
  	<url-pattern>/UnbiWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceWriteCon</servlet-name>
  	<url-pattern>/SourceWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeungHwanCon</servlet-name>
  	<url-pattern>/SeungHwanCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuestionWriteCon</servlet-name>
  	<url-pattern>/QuestionWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JungHyungWriteCon</servlet-name>
  	<url-pattern>/JungHyungWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InformationWriteCon</servlet-name>
  	<url-pattern>/InformationWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HaedoWtiteCon</servlet-name>
  	<url-pattern>/HaedoWtiteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FreeWriteCon</servlet-name>
  	<url-pattern>/FreeWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadCon</servlet-name>
  	<url-pattern>/DownloadCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DongwonWriteCon</servlet-name>
  	<url-pattern>/DongwonWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnonymousWriteCon</servlet-name>
  	<url-pattern>/AnonymousWriteCon</url-pattern>
  </servlet-mapping>
</web-app>