/* notice css */
/* ??게시판 */
#container div.wrap{
    float: none;
    position: relative;
    left: 25px;
    margin-top: 25px;
    width: 800px;
}
#container div.title {
    margin-bottom: -20px;
    padding: 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
}


/* board_css */
/* 내용 전체 */
#container > div.articles > article {
    margin-bottom: -1px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}
/* 내용 패딩 */
#container > div.articles > article > a.article {
    display: block;
    padding: 15px;
}
/* 사용자 이미지 */
#container > div.articles > article img.picture.large {
    margin: 0 10px 15px 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
#container > div.articles > article img.picture {
    float: left;
}
/* 사용자 이름 */
#container > div.articles > article div.profile {
    float: left;
    margin-bottom: 15px;
    height: 40px;
}
#container > div.articles > article h3.large {
    height: 20px;
    max-width: 200px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
#container > div.articles > article h3 {
    color: #292929;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 작성날짜 및 시간 */
#container > div.articles > article time.large {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
#container > div.articles > article span.category, #container > div.articles > article time {
    color: #a6a6a6;
    letter-spacing: 0;
}
/* 수정 및 삭제 */
#container > div.articles > article ul.status {
    float: right;
}
#container > div.articles > article ul.status li {
    float: left;
    margin-left: 8px;
    padding: 0 2px;
    height: 20px;
    line-height: 20px;
    color: #a6a6a6;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 11px 11px;
    cursor: pointer;
}
/* 수정및 삭제 버튼 */
#container > div.wrap.articles > article > a > ul:nth-child(3) > button:nth-child(1),
#container > div.wrap.articles > article > a > ul:nth-child(3) > button:nth-child(2){
    outline: 0px;
    border: 0px;
    background-color: white;
}


/* hr */
#container > div.articles > article hr {
    clear: both;
    height: 0;
    border: 0;
}
/* 글 제목 */
#container > div.articles > article h2.large {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}
#container > div.articles > article h2 {
    color: #292929;
}

/* 글내용 */
#container > div.articles > article p.large {
    padding-bottom: 15px;
    line-height: 20px;
    color: #444444;
    font-size: 14px;
}
#container > div.articles > article p {
    word-break: break-all;
}
/* in 사진 */
#container > div.articles > article div.attaches.full > figure.attach {
    margin-bottom: 15px;
}
#container > div.articles > article div.attaches > figure.attach {
    position: relative;
    display: block;
}
#container > div.articles > article div.attaches.full > figure.attach > img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e3e3e3;
}
#container > div.articles > article div.attaches > figure.attach > img {
    box-sizing: border-box;
    cursor: pointer;
}
/* 공감 및 댓글 아이콘 (count) */
#container > div.articles > article ul.status.left {
    float: left;
}
#container > div.articles > article ul.status.left li {
    margin-left: 0;
    margin-right: 8px;
    cursor: auto;
}

/* 공감 */
#container > div.wrap.articles > article > a > ul.status.left > li:nth-child(1) {
    padding-left: 15px;
    color: #c62917;
    background-image: url('/이미지/좋아요후.png');
}
/* 댓글 */
#container > div.wrap.articles > article > a > ul.status.left > li:nth-child(2) {
    padding-left: 15px;
    color: #0ca5af;
    background-image: url('/이미지/댓글.png');
}
/* 스크랩 */
#container > div.wrap.articles > article > a > ul.status.left > li:nth-child(3) {
    padding-left: 15px;
    color: #ffcc1c;
    background-image: url('/이미지/스크랩.png');
}

/* 공감 및 스크랩 버튼 */
#container > div.articles > article div.buttons {
    display: flex;
    padding-top: 16px;
    position: relative;
    right: 12px;
}
#container > div.articles > article div.buttons span {
    margin-right: 4px;
    padding: 0 12px 0 27px;
    line-height: 30px;
    border-radius: 8px;
    color: #737373;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 13px 13px;
}
/* 공감전버튼 */
#container > div.articles > article div.buttons span.poslike {
    background-image: url('/이미지/좋아요전.png');  
}
/* 공감중버튼 */
#container > div.articles > article div.buttons span.dislike {
    background-image: url('/이미지/좋아요후.png');  
}
/* 스크랩전버튼 */
#container > div.articles > article div.buttons span.posscrap {
    background-image: url('/이미지/스크랩전.png');
}
/* 스크랩중버튼 */
#container > div.articles > article div.buttons span.disscrap {
    background-image: url('/이미지/스크랩후.png');
}
/* 공감, 스크랩 버튼스타일 */
#container > div.wrap.articles > article > a > div.buttons > button:nth-child(1),
#container > div.wrap.articles > article > a > div.buttons > button:nth-child(2){
    border: 0px;
    outline: 0px;
    background-color: white;
}


/* 댓글 */
#container > div.articles > article form.writecomment {
    position: relative;
    border-top: 1px solid #e3e3e3;
    background-color: #f8f8f8;
}
#container > div.articles > article form.writecomment input.text {
    margin: 0;
    padding: 10px 85px 10px 10px;
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
    color: #262626;
    font-size: 13px;
    overflow: hidden;
    resize: none;
    background-color: transparent;
}
/* 댓글 완료버튼 */
#container > div.articles > article form.writecomment ul.option {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    font-size: 0;
}
#container > div.articles > article form.writecomment ul.option li.submit {
    background-color: royalblue;
    background-image: url('/이미지/글작성.png');
}
#container > div.articles > article form.writecomment ul.option li {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    cursor: pointer;
}
/* 글목록 */
#container > div.articles > div.pagination > a.list {
    float: left;
    background-image: url('/이미지/목록.png');
}
#container > div.articles > div.pagination > a {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 10px 0 25px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #c62917;
    border-radius: 3px;
    color: #c62917;
    font-size: 14px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 10px 10px;
    cursor: pointer;
}
/* 댓글 부모쪽 */
#container > div.articles > article > div.comments article.parent {
    padding: 15px 15px 0 15px;
    border-top: 1px solid #e3e3e3;
}
#container > div.articles > article > div.comments article {
    margin: 0;
    border: 0;
    background-color: #fff;
}
/* 댓글 사용자아이콘 */
#container > div.articles > article img.picture.medium {
    margin: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
#container > div.articles > article img.picture {
    float: left;
}
/* 댓글 사용자닉네임 */
#container > div.articles > article h3.medium {
    float: left;
    max-width: 90px;
    margin: 0 10px 5px 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
}
/* 댓글 내용 */
#container > div.articles > article > div.comments article p.large {
    padding-bottom: 5px;
}
/* 시간 */
#container > div.articles > article > div.comments article time {
    padding-bottom: 5px;
}
#container > div.articles > article span.category.medium, #container > div.articles > article time.medium {
    float: left;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}#container > div.articles > article span.category, #container > div.articles > article time {
    color: #a6a6a6;
    letter-spacing: 0;
}
/* 공감아이콘 */
#container > div.articles > article ul.status li.vote {
    padding-left: 15px;
    color: #c62917;
    background-image: url('/이미지/좋아요후.png');
}
#container > div.articles > article > div.comments article::after {
    content: "";
    display: block;
    clear: both;
}
/* 대댓글 전체 */
#container > div.articles > article > div.comments article.child {
    margin: -5px 4px 4px 35px;
    padding: 10px 10px 0 10px;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
}
/* 댓글 부모 버튼 요소 */
#container > div.wrap.articles > article > div > article.parent > ul:nth-child(3) > button{
    border: 0px;
    outline: 0px;
    background-color: white;
}
/* 댓글 자식 버튼 요소 */
#container > div.wrap.articles > article > div > article.child > ul:nth-child(3) > button{
    border: 0px;
    outline: 0px;
    background-color: white;
}