.board_wrap {
    display: block;
    margin: 0 auto 0 auto;
    width: 1000px;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
}

.board_wrap h1 {
    letter-spacing: -2px;
    text-align: center;
}

.board_wrap form {
    margin-top: 30px;
    margin-left: 232px;
}

.board_wrap dl {
    margin-top: 10px;
    font-size: 0;
    font-weight: bold;
}

.board_wrap dl:first-child{
    margin-top: 0;
}

.board_wrap dt,
.board_wrap dd {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-top: 5px;
}

.board_wrap dt {
    width: 20%
}

.board_wrap dd {
    width: 80%
}

.board_wrap input[type="text"],
.board_wrap input[type="password"],
.board_wrap select {
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

/* 아이디중복확인 */
dl:nth-child(1) > dd > input[type=button]:nth-child(2){
    padding: 10px 10px;
    border: 0;
    border-radius: 2px;
    background: royalblue;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 4px 16px rgba(77, 77, 77, 0.3);
    position: relative;
    top: 4px;
}
/* 닉네임중복확인 */
body > div > div > form > dl:nth-child(4) > dd > input[type=button]:nth-child(2){
    padding: 10px 10px;
    border: 0;
    border-radius: 2px;
    background: royalblue;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 4px 16px rgba(77, 77, 77, 0.3);
    position: relative;
    top: 4px;
}

.board_wrap input[type="button"]:focus {
    outline: 0;
}
.board_wrap input[type="button"]:hover {
    background-color: rgba(80, 80, 80, 0.9);
    cursor: pointer;
}

.board_wrap input[type="submit"] {
    display: block;
    margin: 30px -50px 0 100px;
    padding:  10px 30px;
    border: 0;
    border-radius: 5px;
    background: royalblue;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}


.board_wrap input[type="submit"]:hover {
    background-color: rgba(80, 80, 80, 0.9);
    cursor: pointer;
}

#back{
    display: block;
    margin: 30px -50px 0 100px;
    padding:  10px 30px;
    border: 0;
    border-radius: 5px;
    background: royalblue;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
h1#my:after{
    content: "";
    border-bottom: 3px solid royalblue;
    display: block;
    margin: 20px auto;
    width: 700px;
}
.board_wrap .pw1,
.board_wrap .pw2,
.board_wrap .tel,
.board_wrap .name,
.board_wrap .joinaddress,
.board_wrap .detailaddress{
    width: 280px;
}