#myimage {
    width: 1030px;
    position: relative;
    height: 600px;
    left: 150px;
    top: 25px;
}

select {
    margin-top: 60px;
    margin-left: -1122px;
    width: 150px;
    padding: 0.8em 0.5em;
    border: 2px solid royalblue;
    background: url(/img/arrow.jpg) no-repeat 95% 50%;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui;
    color: #292929;
}